/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/
/[Uu]serSettings/
*.csproj
*.sln
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]serSettings/
My project/Library/
My project/Temp/
My project/Logs/
My project/UserSettings/
.DS_Store
*.hdr
*.hdrz
*.exr

# Pastas pesadas de Assets ignoradas
Assets/TerrainTexturesPackFree/
Assets/Rocks and Vegetation Pack/
Assets/naturekitOLD/
Assets/abrigos_antigos/
Assets/MesaM/
Assets/Old building/
Assets/lixometal/
Assets/poplartreee/
